<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donut.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @donut.description %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= image_tag(@donut.picture_url) %>
</p>

<%= link_to 'Edit', edit_donut_path(@donut) %> |
<%= link_to 'Back', donuts_path %>
